<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>3176AACA11CE47544B47F0F8881C87CE</string>
            <key>code2</key>
            <string>5EAFC4AE983487EF0D32B207119D2F0E</string>
            <key>code3</key>
            <string>191C06C09161EE7CAF89EDF3F4C4F1FC</string>
            <key>code4</key>
            <string>0CE82233E42903DCAEC5C5D17CD43D60</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-dre.hispace.hicloud.com</string>
        </dict>
        <key>client</key>
        <dict>
            <key>appType</key>
            <string>9998</string>
            <key>cp_id</key>
            <string>890090000023105926</string>
            <key>product_id</key>
            <string>736430079244704961</string>
            <key>client_id</key>
            <string>497638327613129792</string>
            <key>client_secret</key>
            <string>[!00C7E8B226A7EF1DC933FF97314FD452DB974AB6BBDBE29C41825596091DCDD1F50CB848E7C24EC399096A44789DD98D73C0781DA852DF9E733B8B88D1E7F7858006E11C96D418F9F12A8B959B6D8042F2F19F40C97E987C35AE6317BE6CDE044C]</string>
            <key>project_id</key>
            <string>736430079244704961</string>
            <key>app_id</key>
            <string>9105385871711271734</string>
            <key>api_key</key>
            <string>CgB6e3x9S58m4e+qznHDgavV76kjHrBhXCaTuEqMSsRhgdCBaamlCOlWhq/oCrGf8fbBeRFPU+UbwowVSBSS8Uch</string>
            <key>package_name</key>
            <string>com.ea.Grocery</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>collector_url</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
                <key>channel_id</key>
                <string/>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-dre.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-dre.ai.dbankcloud.com,ml-api-dre.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://ops-dre.agcstorage.link</string>
            </dict>
        </dict>
        <key>region</key>
        <string>DE</string>
    </dict>
</plist>
